{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Form for the text input -->
        <form action="{% url 'check_page' %}" method="get">
            {% csrf_token %}
            <div class="textarea-container">
                {{ form.user_text }}
                <input type="submit" value="Submit">
            </div>
        </form>
    <!-- Grid.js table with BERT results -->
    <div id="wrapper"></div>
    <script type="text/javascript">
        let list = {{prediction|safe}};
    </script>
    <script type="text/javascript" src="{% static 'text_checker/js/table_for_db.js' %}"></script>
{% endblock %}